{% comment %}
  Quadrant Layout - Kung Fu Panda Quotes Plugin
  
  Displays quote compactly for smallest display size
  Minimal padding, maximum content
  
  Template Variables Required:
  - text: The quote text
  - author: Character who said the quote
{% endcomment %}

<div class="layout">
  {% comment %} Quote text centered and scaled to fit {% endcomment %}
  <div class="flex flex--col flex--center-x flex--center-y h--full gap--xsmall">
    <span class="value value--medium md:value--large" style="font-family: 'Courier New', monospace; text-align: center;" data-value-fit="true" data-value-fit-max-height="140">
      {{ text }}
    </span>
  </div>
</div>

{% comment %} Minimal title bar for quadrant {% endcomment %}
<div class="title_bar">
  <img class="image" src="{{ icon_kfp }}">
  <span class="title title--small">KFP</span>
</div>
